* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    background-color: #F0F3F4!important;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color:#222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}

html {
    scroll-behavior: smooth;
}



#mobile{
    display: none;
    align-items: center;
}

#close {
    display: none;
}


/* main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.contact-us{
    border-radius: 10px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10%;
    margin-right: 10%;
}
.main-contact{
    text-align: left;
    margin-right: 20%;
    margin-bottom: 10px;
}
.main-contact h2{
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in {
    padding: 40px 30px;
}


.contact-in:nth-child(1) {
    flex: 30%;
    background-color: coral;
}

.contact-in:nth-child(2) {
    background-color: lightslategray;
    color: white;
    font-weight: bold;
}


.contact-in:nth-child(3) {
    flex: 30%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    color: floralwhite;
    padding: 1%;
}

/* .contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
} */

.contact-in p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 20px;
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 100px;
}


.fa {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-google:before {
    content: "\f1a0";
}

.fa-instagram:before {
    content: "\f16d";
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("/images/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}



#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}


#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}






@media (max-width: 1350px){
    .contact-in ul li {
        list-style: none;
        display: inline-block;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 10px;
    }

}

.contact-in ul li a {
    display: flex;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}

.contact-in ul li a img {
    /* line-height: 30px; */
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.contact-in ul li a i {
    font-size: 14px;
    line-height: 0px;
    color: #000;
}

.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
    color: #fff;
}

.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
    color: #fff;
}

.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: #65CAD1;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 10px;
}

.contact-in iframe {
    width: 100%;
    height: 100%;
    /* background-image: url(bg_img.jpg); */
}
@media (max-width:781px) {
    .contact-in iframe {
        width: 100%;
        height: 200%;
    }
}

@media only screen and (max-width:580px) {
    .contact-in:nth-child(1) {
        flex: 50%;
    }

    .contact-in:nth-child(2) {
        flex: 50%;
    }

    .contact-in:nth-child(3) {
        flex: 100%;
    }

}

@media only screen and (max-width:360px) {
    .contact-in:nth-child(1) {
        flex: 50%;
    }

    .contact-in:nth-child(2) {
        flex: 50%;
    }

    .contact-in:nth-child(3) {
        flex: 100%;
    }

}
